body {
  font-family: serif;
  color: #000000;
}
.container {
  background-color: silver;
}
.navbar-inverse {
  background-color: #000000;
}

#intro-content {
  color: #000000;
  background-color: slategrey;
  margin-top: 200px;
  text-align: center;
}

#content {
  display: none;
  color: #000000;
  background-color: #ffffff;
  margin-top: 100px;
  text-align: center;
}

#win {
  display: none;
  color: #000000;
  background-color: #ffffff;
  margin-top: 200px;
  text-align: center;
}

h1 {
  font-size: 35pt;
  padding-bottom: 30px;
}

#dicebox-marg {
  margin-right: -90px;
}

#names-row {
  margin-right: 35px;
  margin-left: 25px;
}

#p2input-name {
  margin-left: 15px;
}

#turn-message {
  color: #cc3333;
  margin-top: -20px;
  text-align: left;
}

#die-box {
  width: 150px;
  height: 150px;
  background: slategrey;
  border: slategray;
  color: #ffffff;
  font-size: 100px;
  text-align: center;
  margin-top: 65px;
}

#p1-roll,
#p1-hold,
#p2-roll,
#p2-hold {
  margin-top: 35px;
  margin-left: 20px;
  font-size: 15pt;
  background-color: silver;
  border-color: silver;
}

#restart-btn {
  font-size: 15pt;
  margin-top: 35px;
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-primary {
  font-size: 25pt;
  margin-top: 20px;
}

#startgame-btn {
  margin-top: 125px;
}

#reset-gamepage,
#reset-winpage {
  width: 100%;
}

.btn-info {
  margin-top: 75px;
  margin-bottom: 50px;
}

input {
  margin-bottom: -50px;
}

p {
  margin-top: -45px;
  padding-bottom: 25px;
  font-size: 15pt;
}
#p2-name {
  padding-right: 40px;
  position: relative;
  right: 80px;
}
